.popUp3Buttons{
    display: flex;
    justify-content: space-around;
}
.buttons{
    position: fixed;
    bottom: 5%;
    right: 5%;
    display: flex;
    justify-content: space-around;
}
.popUp2Buttons{
    display: flex;
    justify-content: space-around;   
}
#start{
    background-color: rgb(161, 2, 224);
    border: none;
    padding: 1.3% 2%;
    border-radius: 9%;
    box-shadow:  5px 7px 5px 0px rgba(0,0,0,0.47);
    align-self: center;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 4vh;
}
#start:hover{
    background-color: rgb(126, 0, 175);
}
.restart{
    background-color: rgb(11, 141, 255);
     border: none;
     border-radius: 9%;
     box-shadow:  5px 7px 5px 0px rgba(0,0,0,0.47);
     font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 4vh;
    padding: 1.3% 2%;
}
.restart:hover{
    cursor: pointer;
    background-color: rgb(19, 19, 210);
}
#pause{
    background-color: rgb(205, 56, 250);
     border: none;
     border-radius: 9%;
     box-shadow:  5px 7px 5px 0px rgba(0,0,0,0.47);
     font-family: 'Courier New', Courier, monospace;
     font-weight: bold;
     font-size: 4vh;
     padding: 1.3% 2%;
     margin-left: 3%;
     margin-right: 3%;
}
#pause:hover{
    cursor: pointer;
    background-color: rgb(147, 8, 163);
}
#resume{
    background-color: rgb(255, 164, 18);
    border: none;
    box-shadow:  5px 7px 5px 0px rgba(0,0,0,0.47);
    border-radius: 9%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 4vh;
    padding: 1.3% 2%;
}
#resume:hover{
    cursor: pointer;
    background-color: rgb(219, 135, 0);
}
.exit{
    background-color: rgb(206, 0, 0);
     border: none;
     box-shadow:  5px 7px 5px 0px rgba(0,0,0,0.47);
     border-radius: 9%;
     font-family: 'Courier New', Courier, monospace;
     font-weight: bold;
     font-size: 4vh;
     padding: 1.3% 2%;
} 
.exit:hover{
    cursor: pointer;
    background-color: rgba(131, 0, 0);
}
