@media only screen and (min-width: 1920px){
    body{
        background-size: 100% 100%;
    }
}

/* @media (max-width: 768px){
   .popUp{
        width: 90vw;
        height: 80vh;
        padding: 1rem;
   } 
   .popUp-body{
    font-size: 0.9rem;
   }
   #start{
        padding: 10px 15px;
   }
}

@media (min-width: 1140px){
    .popUp{
        width: 50vw;
        height: 60vh;
    }

    .popUp-body{
        font-size: 1.2rem;
    }

    #start{
        padding: 20px 30px;
    }
} */